# Econometrics course problem sets

Questions: https://ben-lambert.com/econometrics-course-problem-sets-and-data/

Note for problem set 4 use https://github.com/spring-haru/wooldridge/blob/master/raw_data/data_csv/card.csv

In [6]:
import pandas as pd

In [7]:
violence_date = pd.read_excel('./data/problemset1.xls')

In [8]:
violence_date.head()

        State  Unemployment  Violence
0     Alabama           7.2     383.7
1      Alaska           7.0     635.3
2     Arizona           7.7     413.6
3    Arkansas           7.2     503.5
4  California           8.9     439.6